{% extends "base.html" %}
{% block body %}
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: #b11b43; color: white; padding: 10px;" class="bg-gradient rounded-pill">unfo</h1>
    <div class="card text-center" style="width:20rem;" >
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill">
                <li class="nav-item">
                    <a class="nav nav-link active" aria-current="true" href="{{ url_for('index') }}">サインイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav nav-link" aria-current="true" href="{{ url_for('register') }}">新規登録</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form action="{{ url_for("login") }}" method="post">
                <h1 class="h3 mb-3 fw-normal">サインイン</h1>
                <div class="form-floating">
                    <input type="text"  name="username" class="form-control" id="floatingInput"  placeholder="username" style="margin-top: 50px;" required autofocus>
                    <label id="floatingInput">ユーザー名またはメールアドレス</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="password" style="margin: 25px 0px;" required>
                    <label for="floatingPassword">パスワード</label>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-primary rounded-pill" type="submit" style="background-color: #008989; border:none;">サインイン</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}